config.log
config.status
Makefile
aclocal.m4
autom4te.cache
src/freetds-*/
src/nginx-*/
src/pcre-*/
a.out.dSYM
html/dbrelay/js/dbrelay-ui-sqlresultpanel-min.js
html/dbrelay/js/dbrelay-ui-sqltableeditor-min.js
freetds-0.82/bin/bsqldb
freetds-0.82/bin/bsqlodbc
freetds-0.82/bin/datacopy
freetds-0.82/bin/defncopy
freetds-0.82/bin/fisql
freetds-0.82/bin/freebcp
freetds-0.82/bin/osql
freetds-0.82/bin/tdspool
freetds-0.82/bin/tsql
freetds-0.82/etc/freetds.conf
freetds-0.82/etc/locales.conf
freetds-0.82/etc/pool.conf
freetds-0.82/include/bkpublic.h
freetds-0.82/include/cspublic.h
freetds-0.82/include/cstypes.h
freetds-0.82/include/ctpublic.h
freetds-0.82/include/sqldb.h
freetds-0.82/include/sqlfront.h
freetds-0.82/include/sybdb.h
freetds-0.82/include/syberror.h
freetds-0.82/include/sybfront.h
freetds-0.82/include/tds_sysdep_public.h
freetds-0.82/lib/libct.4.0.0.dylib
freetds-0.82/lib/libct.4.dylib
freetds-0.82/lib/libct.a
freetds-0.82/lib/libct.dylib
freetds-0.82/lib/libct.la
freetds-0.82/lib/libsybdb.5.0.0.dylib
freetds-0.82/lib/libsybdb.5.dylib
freetds-0.82/lib/libsybdb.a
freetds-0.82/lib/libsybdb.dylib
freetds-0.82/lib/libsybdb.la
freetds-0.82/lib/libtdsodbc.0.0.0.so
freetds-0.82/lib/libtdsodbc.0.so
freetds-0.82/lib/libtdsodbc.a
freetds-0.82/lib/libtdsodbc.la
freetds-0.82/lib/libtdsodbc.so
freetds-0.82/man/man1/bsqldb.1
freetds-0.82/man/man1/bsqlodbc.1
freetds-0.82/man/man1/datacopy.1
freetds-0.82/man/man1/defncopy.1
freetds-0.82/man/man1/fisql.1
freetds-0.82/man/man1/freebcp.1
freetds-0.82/man/man1/osql.1
freetds-0.82/man/man1/tsql.1
freetds-0.82/man/man5/freetds.conf.5
freetds-0.82/share/doc/freetds-0.82/images/callouts/1.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/10.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/2.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/3.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/4.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/5.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/6.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/7.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/8.gif
freetds-0.82/share/doc/freetds-0.82/images/callouts/9.gif
freetds-0.82/share/doc/freetds-0.82/images/caution.gif
freetds-0.82/share/doc/freetds-0.82/images/important.gif
freetds-0.82/share/doc/freetds-0.82/images/note.gif
freetds-0.82/share/doc/freetds-0.82/images/tip.gif
freetds-0.82/share/doc/freetds-0.82/images/warning.gif
freetds-0.82/share/doc/freetds-0.82/reference/a00009.html
freetds-0.82/share/doc/freetds-0.82/reference/a00010.html
freetds-0.82/share/doc/freetds-0.82/reference/a00079.html
freetds-0.82/share/doc/freetds-0.82/reference/a00090.html
freetds-0.82/share/doc/freetds-0.82/reference/a00096.html
freetds-0.82/share/doc/freetds-0.82/reference/a00097.html
freetds-0.82/share/doc/freetds-0.82/reference/a00098.html
freetds-0.82/share/doc/freetds-0.82/reference/a00100.html
freetds-0.82/share/doc/freetds-0.82/reference/a00102.html
freetds-0.82/share/doc/freetds-0.82/reference/a00106.html
freetds-0.82/share/doc/freetds-0.82/reference/a00107.html
freetds-0.82/share/doc/freetds-0.82/reference/a00108.html
freetds-0.82/share/doc/freetds-0.82/reference/a00112.html
freetds-0.82/share/doc/freetds-0.82/reference/a00133.html
freetds-0.82/share/doc/freetds-0.82/reference/a00134.html
freetds-0.82/share/doc/freetds-0.82/reference/a00135.html
freetds-0.82/share/doc/freetds-0.82/reference/a00136.html
freetds-0.82/share/doc/freetds-0.82/reference/a00137.html
freetds-0.82/share/doc/freetds-0.82/reference/a00138.html
freetds-0.82/share/doc/freetds-0.82/reference/a00139.html
freetds-0.82/share/doc/freetds-0.82/reference/a00140.html
freetds-0.82/share/doc/freetds-0.82/reference/a00141.html
freetds-0.82/share/doc/freetds-0.82/reference/a00142.html
freetds-0.82/share/doc/freetds-0.82/reference/a00143.html
freetds-0.82/share/doc/freetds-0.82/reference/a00144.html
freetds-0.82/share/doc/freetds-0.82/reference/a00145.html
freetds-0.82/share/doc/freetds-0.82/reference/a00160.html
freetds-0.82/share/doc/freetds-0.82/reference/a00163.html
freetds-0.82/share/doc/freetds-0.82/reference/a00193.html
freetds-0.82/share/doc/freetds-0.82/reference/a00195.html
freetds-0.82/share/doc/freetds-0.82/reference/a00274.html
freetds-0.82/share/doc/freetds-0.82/reference/a00275.html
freetds-0.82/share/doc/freetds-0.82/reference/a00276.html
freetds-0.82/share/doc/freetds-0.82/reference/a00277.html
freetds-0.82/share/doc/freetds-0.82/reference/a00278.html
freetds-0.82/share/doc/freetds-0.82/reference/a00279.html
freetds-0.82/share/doc/freetds-0.82/reference/a00280.html
freetds-0.82/share/doc/freetds-0.82/reference/a00281.html
freetds-0.82/share/doc/freetds-0.82/reference/a00282.html
freetds-0.82/share/doc/freetds-0.82/reference/a00283.html
freetds-0.82/share/doc/freetds-0.82/reference/a00284.html
freetds-0.82/share/doc/freetds-0.82/reference/a00285.html
freetds-0.82/share/doc/freetds-0.82/reference/a00286.html
freetds-0.82/share/doc/freetds-0.82/reference/a00287.html
freetds-0.82/share/doc/freetds-0.82/reference/a00288.html
freetds-0.82/share/doc/freetds-0.82/reference/a00289.html
freetds-0.82/share/doc/freetds-0.82/reference/a00290.html
freetds-0.82/share/doc/freetds-0.82/reference/a00291.html
freetds-0.82/share/doc/freetds-0.82/reference/a00292.html
freetds-0.82/share/doc/freetds-0.82/reference/a00293.html
freetds-0.82/share/doc/freetds-0.82/reference/a00294.html
freetds-0.82/share/doc/freetds-0.82/reference/a00295.html
freetds-0.82/share/doc/freetds-0.82/reference/a00296.html
freetds-0.82/share/doc/freetds-0.82/reference/a00297.html
freetds-0.82/share/doc/freetds-0.82/reference/a00298.html
freetds-0.82/share/doc/freetds-0.82/reference/a00299.html
freetds-0.82/share/doc/freetds-0.82/reference/a00300.html
freetds-0.82/share/doc/freetds-0.82/reference/a00301.html
freetds-0.82/share/doc/freetds-0.82/reference/a00302.html
freetds-0.82/share/doc/freetds-0.82/reference/a00303.html
freetds-0.82/share/doc/freetds-0.82/reference/a00304.html
freetds-0.82/share/doc/freetds-0.82/reference/a00305.html
freetds-0.82/share/doc/freetds-0.82/reference/a00306.html
freetds-0.82/share/doc/freetds-0.82/reference/a00307.html
freetds-0.82/share/doc/freetds-0.82/reference/a00308.html
freetds-0.82/share/doc/freetds-0.82/reference/a00309.html
freetds-0.82/share/doc/freetds-0.82/reference/a00310.html
freetds-0.82/share/doc/freetds-0.82/reference/a00311.html
freetds-0.82/share/doc/freetds-0.82/reference/a00312.html
freetds-0.82/share/doc/freetds-0.82/reference/a00313.html
freetds-0.82/share/doc/freetds-0.82/reference/a00314.html
freetds-0.82/share/doc/freetds-0.82/reference/a00315.html
freetds-0.82/share/doc/freetds-0.82/reference/a00316.html
freetds-0.82/share/doc/freetds-0.82/reference/a00317.html
freetds-0.82/share/doc/freetds-0.82/reference/a00318.html
freetds-0.82/share/doc/freetds-0.82/reference/a00319.html
freetds-0.82/share/doc/freetds-0.82/reference/a00320.html
freetds-0.82/share/doc/freetds-0.82/reference/a00321.html
freetds-0.82/share/doc/freetds-0.82/reference/a00322.html
freetds-0.82/share/doc/freetds-0.82/reference/a00323.html
freetds-0.82/share/doc/freetds-0.82/reference/a00324.html
freetds-0.82/share/doc/freetds-0.82/reference/a00325.html
freetds-0.82/share/doc/freetds-0.82/reference/a00326.html
freetds-0.82/share/doc/freetds-0.82/reference/a00327.html
freetds-0.82/share/doc/freetds-0.82/reference/a00328.html
freetds-0.82/share/doc/freetds-0.82/reference/a00329.html
freetds-0.82/share/doc/freetds-0.82/reference/a00330.html
freetds-0.82/share/doc/freetds-0.82/reference/a00331.html
freetds-0.82/share/doc/freetds-0.82/reference/a00332.html
freetds-0.82/share/doc/freetds-0.82/reference/a00333.html
freetds-0.82/share/doc/freetds-0.82/reference/a00334.html
freetds-0.82/share/doc/freetds-0.82/reference/a00335.html
freetds-0.82/share/doc/freetds-0.82/reference/a00336.html
freetds-0.82/share/doc/freetds-0.82/reference/a00337.html
freetds-0.82/share/doc/freetds-0.82/reference/a00338.html
freetds-0.82/share/doc/freetds-0.82/reference/annotated.html
freetds-0.82/share/doc/freetds-0.82/reference/bug.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000000.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000001.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000002.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000003.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000004.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000005.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000006.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000007.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000008.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000009.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000010.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000011.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000012.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000013.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000014.html
freetds-0.82/share/doc/freetds-0.82/reference/dir_000015.html
freetds-0.82/share/doc/freetds-0.82/reference/dirs.html
freetds-0.82/share/doc/freetds-0.82/reference/doxygen.css
freetds-0.82/share/doc/freetds-0.82/reference/doxygen.png
freetds-0.82/share/doc/freetds-0.82/reference/files.html
freetds-0.82/share/doc/freetds-0.82/reference/functions.html
freetds-0.82/share/doc/freetds-0.82/reference/functions_vars.html
freetds-0.82/share/doc/freetds-0.82/reference/globals.html
freetds-0.82/share/doc/freetds-0.82/reference/globals_defs.html
freetds-0.82/share/doc/freetds-0.82/reference/globals_enum.html
freetds-0.82/share/doc/freetds-0.82/reference/globals_eval.html
freetds-0.82/share/doc/freetds-0.82/reference/globals_func.html
freetds-0.82/share/doc/freetds-0.82/reference/globals_type.html
freetds-0.82/share/doc/freetds-0.82/reference/globals_vars.html
freetds-0.82/share/doc/freetds-0.82/reference/index.html
freetds-0.82/share/doc/freetds-0.82/reference/modules.html
freetds-0.82/share/doc/freetds-0.82/reference/pages.html
freetds-0.82/share/doc/freetds-0.82/reference/todo.html
freetds-0.82/share/doc/freetds-0.82/userguide/about.htm
freetds-0.82/share/doc/freetds-0.82/userguide/aboutunicode.htm
freetds-0.82/share/doc/freetds-0.82/userguide/acknowledgments.htm
freetds-0.82/share/doc/freetds-0.82/userguide/advocacy.htm
freetds-0.82/share/doc/freetds-0.82/userguide/apireference.htm
freetds-0.82/share/doc/freetds-0.82/userguide/appendmode.htm
freetds-0.82/share/doc/freetds-0.82/userguide/askingforhelp.htm
freetds-0.82/share/doc/freetds-0.82/userguide/build.htm
freetds-0.82/share/doc/freetds-0.82/userguide/choosingtdsprotocol.htm
freetds-0.82/share/doc/freetds-0.82/userguide/config.htm
freetds-0.82/share/doc/freetds-0.82/userguide/configs.htm
freetds-0.82/share/doc/freetds-0.82/userguide/confirminstall.htm
freetds-0.82/share/doc/freetds-0.82/userguide/contrib.htm
freetds-0.82/share/doc/freetds-0.82/userguide/contributors.htm
freetds-0.82/share/doc/freetds-0.82/userguide/ctlib.api.summary.htm
freetds-0.82/share/doc/freetds-0.82/userguide/dblib.api.summary.htm
freetds-0.82/share/doc/freetds-0.82/userguide/domains.htm
freetds-0.82/share/doc/freetds-0.82/userguide/dsnless.htm
freetds-0.82/share/doc/freetds-0.82/userguide/envvar.htm
freetds-0.82/share/doc/freetds-0.82/userguide/freetdsconf.htm
freetds-0.82/share/doc/freetds-0.82/userguide/freetdshistory.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-1.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-10.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-11.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-2.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-3.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-4.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-5.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-6.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-7.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-8.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl-9.htm
freetds-0.82/share/doc/freetds-0.82/userguide/gfdl.htm
freetds-0.82/share/doc/freetds-0.82/userguide/help.htm
freetds-0.82/share/doc/freetds-0.82/userguide/index.htm
freetds-0.82/share/doc/freetds-0.82/userguide/index.html
freetds-0.82/share/doc/freetds-0.82/userguide/install.htm
freetds-0.82/share/doc/freetds-0.82/userguide/interfacesfile.htm
freetds-0.82/share/doc/freetds-0.82/userguide/interfacesformat.htm
freetds-0.82/share/doc/freetds-0.82/userguide/interfaceslocation.htm
freetds-0.82/share/doc/freetds-0.82/userguide/interfacespurpose.htm
freetds-0.82/share/doc/freetds-0.82/userguide/iso8859.htm
freetds-0.82/share/doc/freetds-0.82/userguide/locales.htm
freetds-0.82/share/doc/freetds-0.82/userguide/localization.htm
freetds-0.82/share/doc/freetds-0.82/userguide/logging.htm
freetds-0.82/share/doc/freetds-0.82/userguide/mailinglist.htm
freetds-0.82/share/doc/freetds-0.82/userguide/odbc.api.summary.htm
freetds-0.82/share/doc/freetds-0.82/userguide/odbcconnattr.htm
freetds-0.82/share/doc/freetds-0.82/userguide/odbcdiagnose.htm
freetds-0.82/share/doc/freetds-0.82/userguide/odbcinionly.htm
freetds-0.82/share/doc/freetds-0.82/userguide/odbcombo.htm
freetds-0.82/share/doc/freetds-0.82/userguide/osissues.htm
freetds-0.82/share/doc/freetds-0.82/userguide/packages.htm
freetds-0.82/share/doc/freetds-0.82/userguide/pagenodata.htm
freetds-0.82/share/doc/freetds-0.82/userguide/perl.htm
freetds-0.82/share/doc/freetds-0.82/userguide/php.htm
freetds-0.82/share/doc/freetds-0.82/userguide/portoverride.htm
freetds-0.82/share/doc/freetds-0.82/userguide/prepodbc.htm
freetds-0.82/share/doc/freetds-0.82/userguide/programming.htm
freetds-0.82/share/doc/freetds-0.82/userguide/projects.htm
freetds-0.82/share/doc/freetds-0.82/userguide/python.htm
freetds-0.82/share/doc/freetds-0.82/userguide/samplecode.htm
freetds-0.82/share/doc/freetds-0.82/userguide/seemtooslow.htm
freetds-0.82/share/doc/freetds-0.82/userguide/serverthere.htm
freetds-0.82/share/doc/freetds-0.82/userguide/software.htm
freetds-0.82/share/doc/freetds-0.82/userguide/stunnel.htm
freetds-0.82/share/doc/freetds-0.82/userguide/sybsql.htm
freetds-0.82/share/doc/freetds-0.82/userguide/tdshistory.htm
freetds-0.82/share/doc/freetds-0.82/userguide/tdspool.htm
freetds-0.82/share/doc/freetds-0.82/userguide/troubleshooting.htm
freetds-0.82/share/doc/freetds-0.82/userguide/unicode.htm
freetds-0.82/share/doc/freetds-0.82/userguide/unicodefreetds.htm
freetds-0.82/share/doc/freetds-0.82/userguide/unicodegoodbad.htm
freetds-0.82/share/doc/freetds-0.82/userguide/unicodeutf.htm
freetds-0.82/share/doc/freetds-0.82/userguide/usefreetds.htm
freetds-0.82/share/doc/freetds-0.82/userguide/userguide.css
freetds-0.82/share/doc/freetds-0.82/userguide/what.htm
html/.deps/dbrelay-core-min.Po
html/.deps/dbrelay-ui-all-min.Po
html/.deps/dbrelay-ui-sqlresultpanel-min.Po
html/.deps/dbrelay-ui-sqltableeditor-min.Po