config.log
config.status
Makefile
aclocal.m4
autom4te.cache
src/freetds-*/
src/nginx-*/
src/pcre-*/
a.out.dSYM
html/dbrelay/js/dbrelay-ui-sqlresultpanel-min.js
html/dbrelay/js/dbrelay-ui-sqltableeditor-min.js