body {
  margin:0;
  padding:0;
  font-size:11px;
  font-family:Arial, Helvetica, sans-serf;
  color:#030912;
}

a {
 text-decoration:none;
}

ol, ul {
  margin:0;
}

#page {
  width:800px; 
  margin-left: auto ;
  margin-right: auto ;
}     

#editor {
  width:900px;
}

h1 {
  font-size:2em;
  border-bottom:2px solid #0D2C5C;
  margin-bottom:10px;
  color:#000;
}

h2 {
  font-size:1.4em;
  color:#FFF; 
  border-left: 4px solid #333;      
  padding-left:7px;
  margin: 10px 0px; 
  background-color:#1958B7;
}

h3 {
  font-size:1.2em;
  font-weight:bold; 
  margin-top:6px;
  margin-bottom:4px;
}

.comment {
  color:green;
}

.codeblock {
  padding: 5px 0px 5px 10px;
  border-left: 1px dotted #666;
}

.doc-table {
  border-collapse:collapse;
  margin:0;
  padding:3px;
  width:100%;
}

.doc-table thead th {
  background-color:#C5D5ED; 
  border:1px solid #1958B7; 
  color:#06162E;
  font-weight:bold;
  font-size:1.1em;    
  text-align:left;
}                         

.doc-table td {
  border:1px solid #1958B7; 
  vertical-align:top;
  padding: 5px;
  text-align: justify;
} 

td.doc-name {
  font-family:Courier, monospace;
  width:125px;
}

.doc-codefont {
  font-family:Courier, monospace;
}

td.done {
  background-color:#C7EA89;
}

td.todo {
  background-color:#F9F2A3;
}

#page li, p {
  text-align: justify;
}