
body {
	font-family:Arial, Helvetica, serif;
	font-size:12px;
}

.x-grid3-row-table.va-deletetablerow td {  
	background-color:#ff0000 !important;
}

.va-dbactions{ 
	padding:5px;
	background-color:#dedede;
}      

.va-dbactions .x-btn{
 margin-bottom:5px;
}              
 
.va-msg{
	border:1px solid black;
	background-color:#fff;    
	width:250;
	height:100;
}     
.va-msg h3{
	font-weight:bold;
}

/* Icons */
.vaicon-plus{
	background-image: url('../images/plus-circle.png') !important;
}  
.vaicon-minus{
	background-image: url('../images/cross-circle.png') !important;
}  
.vaicon-sql{
	background-image: url('../images/script-attribute-s.png') !important;
}
.vaicon-disk{
	background-image: url('../images/disk.png') !important;
}      
.vaicon-opentable{
	background-image: url('../images/folder-open-table.png') !important;
}   
.vaicon-gear{
	background-image: url('../images/gear.png') !important;
}
.vaicon-table{
	background-image: url('../images/table.png') !important;
}
.vaicon-tick{
	background-image: url('../images/tick.png') !important;
}
.vaicon-refresh{
	background-image: url('../images/refresh.gif') !important;
}
.vaicon-back{
	background-image: url('../images/control-180.png') !important;
}
.vaicon-next{
	background-image: url('../images/control.png') !important;
}
.vaicon-first{
	background-image: url('../images/control-skip-180.png') !important;
}
.vaicon-last{
	background-image: url('../images/control-skip.png') !important;
}
.vaicon-monitor{
	background-image: url('../images/monitor.png') !important;
}
.vaicon-help{
	background-image: url('../images/question.png') !important;
}      
.vaicon-home{
	background-image: url('../images/home.png') !important;
}
.vaicon-pdf{
	background-image: url('../images/document-pdf-text.png') !important;
}  
.vaicon-info{
	background-image: url('../images/information.png') !important;
}  
.vaicon-tables{
	background-image: url('../images/tables.png') !important;
}   
.vaicon-log{
	background-image: url('../images/document-attribute-l.png') !important;
}